.heropackages1 {
  // @include center(981px, 20 auto 0 auto);
  max-width: 980px;
  width: 100%;
  height: 413px;
  background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-01.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: absolute;
  //   margin-bottom: 900px;
  left: 0px;
  right: 0px;
  z-index: 4;

  h1 {
    font-family: proxima;
    color: $white;
    font-size: 60px;
    margin-top: 100px;
    text-align: left;
    margin-left: 30px;
  }
}

.heropackages2 {
  // @include center(981px, 20 auto 0 auto);
  max-width: 980px;
  width: 100%;
  height: 413px;
  background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-02.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: absolute;
  //   margin-bottom: 900px;
  left: 0px;
  right: 0px;
  z-index: 4;

  h1 {
    font-family: proxima;
    color: $white;
    font-size: 60px;
    margin-top: 100px;
    text-align: left;
    margin-left: 30px;
  }
}

.heropackages3 {
  // @include center(981px, 20 auto 0 auto);
  max-width: 980px;
  width: 100%;
  height: 413px;
  background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-03.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: absolute;
  //   margin-bottom: 900px;
  left: 0px;
  right: 0px;
  z-index: 4;

  h1 {
    font-family: proxima;
    color: $white;
    font-size: 60px;
    margin-top: 100px;
    text-align: left;
    margin-left: 30px;
  }
}

.heropackages4 {
  // @include center(981px, 20 auto 0 auto);
  max-width: 980px;
  width: 100%;
  height: 413px;
  background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-04.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: absolute;
  //   margin-bottom: 900px;
  left: 0px;
  right: 0px;
  z-index: 4;

  h1 {
    font-family: proxima;
    color: $white;
    font-size: 60px;
    margin-top: 100px;
    text-align: left;
    margin-left: 30px;
  }
}

.heropackages5 {
  // @include center(981px, 20 auto 0 auto);
  max-width: 980px;
  width: 100%;
  height: 413px;
  background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-05.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: absolute;
  //   margin-bottom: 900px;
  left: 0px;
  right: 0px;
  z-index: 4;

  h1 {
    font-family: proxima;
    color: $white;
    font-size: 60px;
    margin-top: 100px;
    text-align: left;
    margin-left: 30px;
  }
}

.heropackages6 {
  // @include center(981px, 20 auto 0 auto);
  max-width: 980px;
  width: 100%;
  height: 413px;
  background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-06.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: absolute;
  //   margin-bottom: 900px;
  left: 0px;
  right: 0px;
  z-index: 4;

  h1 {
    font-family: proxima;
    color: $white;
    font-size: 60px;
    margin-top: 100px;
    text-align: left;
    margin-left: 30px;
  }
}

.heropackages7 {
  // @include center(981px, 20 auto 0 auto);
  max-width: 980px;
  width: 100%;
  height: 413px;
  background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-07.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: absolute;
  //   margin-bottom: 900px;
  left: 0px;
  right: 0px;
  z-index: 4;

  h1 {
    font-family: proxima;
    color: $white;
    font-size: 60px;
    margin-top: 100px;
    text-align: left;
    margin-left: 30px;
  }
}

.heropackages8 {
  // @include center(981px, 20 auto 0 auto);
  max-width: 980px;
  width: 100%;
  height: 413px;
  background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-08.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: absolute;
  //   margin-bottom: 900px;
  left: 0px;
  right: 0px;
  z-index: 4;

  h1 {
    font-family: proxima;
    color: $white;
    font-size: 60px;
    margin-top: 100px;
    text-align: left;
    margin-left: 30px;
  }
}

.heropackages9 {
  // @include center(981px, 20 auto 0 auto);
  max-width: 980px;
  width: 100%;
  height: 413px;
  background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-09.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: absolute;
  //   margin-bottom: 900px;
  left: 0px;
  right: 0px;
  z-index: 4;

  h1 {
    font-family: proxima;
    color: $white;
    font-size: 60px;
    margin-top: 100px;
    text-align: left;
    margin-left: 30px;
  }
}

.tour-images {
  max-width: 980px;
  width: 100%;
  min-height: 347px;
  padding-top: 500px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 60px;
  // background-color: aquamarine;
  justify-content: space-evenly;
  position: relative;
  z-index: 5;

  img {
    height: 347px;
    width: 298px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.days {
  max-width: 980px;
  margin: 0 auto;

  h2 {
    font-size: 60px;
    font-family: proxima;
    font-weight: lighter;
    text-decoration: underline;
    letter-spacing: 8px;
    margin-bottom: 40px;
  }

  p {
    font-family: gill;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .tour-images {
    width: 236px;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}
