* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: red 2px solid;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: gill;
  src: url(../css/fonts/GillSans.ttc);
  // you're already transporting this to css, so DO NOT ../ out of file //
}

@font-face {
  font-family: proxima;
  src: url(../css/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
}
